body, #poem {
	font-family: 'Vollkorn', serif;
}

html {
	background: url(/static/img/paper_cc_by_flickr_user_bittbox.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	font-size: 22px;
	text-align: center;
}

h1 {
	font-weight: 400;
}

#poem {
	text-align: center;
	border: 0;
	color: #222;
	width: 75%;
	font-size: 1em;
	line-height: 1.3em;
	background:transparent;
}