<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>iwannapushyoudown</title>
    
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <link href='/static/css/styles.css' rel='stylesheet' type='text/css'>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src='/_ah/channel/jsapi'></script>
    <!-- /_ah/channel/jsapi links to https://talkgadget.google.com/talkgadget/channel.js -->
    <script type="text/javascript" src="/static/js/bind_with_delay.js"></script>

    <script>
        var channel,
            client_id = '{{ client_id }}',
            is_connected = false,
            socket,
            token = '{{ token }}';

        var connect = function () {
            channel = new goog.appengine.Channel(token);

            socket = channel.open();

            socket.onopen = onopen;
            socket.onclose = onclose;
            socket.onerror = onerror;
            socket.onmessage = onmessage;
        }

        var onopen = function () {
            /* Called when the socket is ready to receive messages */
            is_connected = true;
        }

        var onclose = function () {
            /* Called when the socket is closed */
            is_connected = false;
        }

        var onerror = function (e) {
            /* Called when an error occurs on the socket */
            if(typeof(console) == "object") {
                console.log("Socket error", e.code, ":", e.description);
            }
        }

        var onmessage = function (message) {
            /* Called when the socket receives a message */
            var data = JSON.parse(message.data);
            $('#poem').val(unescape(data['escaped_message']));
            $('#connected_clients').html(data['connected_clients']);
        }

        var push = function () {
            /* Called when the content got changed locally */
            $.post('/', {
                "client_id": client_id,
                "escaped_message": escape($(this).val())
            });
        }

        $(document).ready(function (){
            connect();

            $('#poem').bindWithDelay('keyup', push, 1000, true);
        });
   </script>
</head>

<body>
    <h1>Alone</h1>
    <h4>by Edgar Allan Poe</h4>
    <textarea id='poem' rows='23'>From childhood's hour I have not been 
As others were; I have not seen 
As others saw; I could not bring 
My passions from a common spring. 
From the same source I have not taken 
My sorrow; I could not awaken 
My heart to joy at the same tone; 
And all I loved, I loved alone. 
Then - in my childhood, in the dawn 
Of a most stormy life - was drawn 
From every depth of good and ill 
The mystery which binds me still: 
From the torrent, or the fountain, 
From the red cliff of the mountain, 
From the sun that round me rolled 
In its autumn tint of gold, 
From the lightning in the sky 
As it passed me flying by, 
From the thunder and the storm, 
And the cloud that took the form 
(When the rest of Heaven was blue) 
Of a demon in my view.</textarea>
<div id='connected_clients'>1</div>
</body>

</html>
